.berlin-image {
    background: url('./../images/Berlin.jpg');
    background-size: cover;
    background-position: center;
    padding: $top-section-image-pad 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin capital-pub-section-title {
    display: inline-block;
    font-size: 1.7rem;
    color: #FFFFFF;
    text-shadow: 2px 2px 11px #0D0000;
    position: relative;
}

.cappub-section-title,
.city-name {
    @include capital-pub-section-title;
}

$cap-pub-section-left: 12rem;
.cappub-section-title {
    bottom: 9rem;
    left: $cap-pub-section-left;
}

.city-name {
    bottom: 5rem;
    left: $cap-pub-section-left;
}

.intro-info {
    text-align: center;
    padding: 1rem 0;
    background-color: #f8f7f9;

    article {
        max-width: $section-max-width;
        margin: 0 auto;
        text-align: left;
    }
}

/*Interior & Exterior sections*/
.intext {
    text-align: center;
    padding: 1rem 0;
    background-color: #f8f8f8;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: $section-max-width + 5rem;
        margin: 0 auto;
    }

    li  {
        width: 25%;
        display: flex;
        list-style: none outside;
        height: 100%;
        flex-direction: column;
        padding: 0.2rem;
        margin: 1rem;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);

        &:hover {
            box-shadow: 0 0 6px 0 rgba(0,0,0,0.85);
            cursor: pointer;
        }
    }

    .card-media {
        position: relative;
        overflow: hidden;
        background-color: #000;

        &:after {
            display: block;
            content: '';
            padding-top: 56.25%;
        }

        img {
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: auto;
            transform: scale(1);
            transition: 0.4s ease;
        }

        img:hover {
            transform: scale(1.05);
        }
    }
}

#interior-section {
    background: #B10200;
    color: #fff;

    h2 {
        color: #fff;
    }

    .section-title:after {
        border-bottom: 2px solid #f8f8f8;
    }

    .section-desc {
        opacity: 1;
    }

    li {
        background: #f8f8f8;
    }
}

/*End of Interior & Exterior sections*/

.beer-market-image {
    background: url('./../images/beer-market.png');
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 0;

    article {
        display: inline-block;
        padding: 2rem 5.5rem;
        background: #000;
        opacity: 0.65;

        h2 {
            color: gold;
        }

        p {
            margin-bottom: 2rem;
            color: white;
            opacity: 1;
        }

        a {
            background: transparent;
            text-decoration: none;
            color: white;
            font-weight: bold;
            border: 1px solid white;
            padding: 0.75rem;
            transform: scale(1);
            transition: 0.2s ease;
            display: inline-block;

            &:hover {
                border: 1px solid gold;
                background-color: black;
                color: gold;
                transform: scale(1.075);
                opacity: 1;
            }
        }
    }
}

/* Responsive */

@media screen and (max-width: 1050px) {
    .berlin-image {
        padding: 9rem 0;
    }

    .intro-info {
        article {
            padding: 1rem 3rem;
        }
    }
}

@media screen and (max-width: 750px) {
    .berlin-image {
        padding: 6rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cappub-section-title,
    .city-name {
        position: static;
        display: block;
    }

    .beer-market-image {
        padding: 0;
    }

    .intext {
        li {
            width: 90%;
        }
    }
}

