.site-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    padding: 2rem;

    a {
        text-decoration: none;
        color: darkred;
    }

    .dev-credits {
        text-shadow: 0 0 15px #A40000;
        text-decoration: none;
    }

    section:last-child {
        span {
            margin-right: 0.5rem
        }

        a {
            margin: 0.4rem;
            padding: 0.3rem;
            transition: 0.2s ease-in;
            transform: scale(1.15);
        }

        a:last-child {
            margin-right: 0;
        }

        a.fa-facebook-f:hover {
            color: #4064AC;
            transform: scale(1.35);
        }

        a.fa-twitter:hover {
            color: #56D6FE;
            transform: scale(1.35);
        }

        a.fa-linkedin-in:hover {
            color: #006498;
            transform: scale(1.35);
        }

        a.fa-google-plus-g:hover {
            color: #CC3333;
            transform: scale(1.35);
        }
    }
}