.image {
    background: url('./../images/Gastraum-mit-Leinwand.jpg');
    background-size: cover;
    background-position: center;
    padding: 8rem;
}

.gallery {
    text-align: center;
    padding: 1rem 0;
    background-color: #f8f7f9;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 60rem;
        margin: 0 auto;
    }

    li  {
        width: 100%;
        display: flex;
        list-style: none outside;
        height: 100%;
        flex-direction: column;
        padding: 0.2rem;
        margin: 1rem;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);

        &:hover {
            box-shadow: 0 0 6px 0 rgba(0,0,0,0.85);
            cursor: pointer;
        }
    }

    .card-media {
        position: relative;
        overflow: hidden;
        background-color: #000;

        &:after {
            display: block;
            content: '';
            padding-top: 56.25%;
        }

        img {
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: auto;
            transform: rotate(0) scale(1.05);
            transition: 0.4s ease;
        }

        img:hover {
            transform: rotate(5deg) scale(1.15);
        }
    }

    .card-desc {
        margin-top: 0.5rem;
        color: #333;
    }
}

/* Responsive */

@media all and (min-width: 600px){
    .gallery {
        li {
            width: 45%;
        }
    }
}

@media all and (min-width: 980px){
    .image {
        padding: $top-section-image-pad;
    }

    .gallery {
        li {
            width: 30%;
        }
    }
}