.site-header {
    display: flex;
    background: #FFF;
    justify-content: center;
    align-items: center;

    .site-logo {
        width: 22rem;
        height: auto;
    }

    i.fa-times,
    i.fa-bars {
        color: #444;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    li {
        list-style: none outside;
        border-bottom: 2px solid transparent;
    }

    a {
        text-decoration: none;
        color: #E30117;
        margin: 0 0.75rem;
        transition: 0.15s;
        position: relative;
        display: inline-block;
        text-align: center;
    }
}

#main-nav-toggle:checked + .site-header {
    .nav-main {
        display: block;
        margin-top: 0;
        position: relative;
        top: 6.5rem;
    }

    .nav-main.right {
        margin-bottom: 6.5rem;
    }

    .site-branding {
        position: absolute;
        top: 0;
    }

    #toggle {
        .fa-times {
            display: block;
        }

        .fa-bars {
            display: none;
        }
    }
}

#main-nav-toggle, #times-icon {
    display: none;
}

@media screen and (min-width: 980px){
    .site-header {
        a:after,
        a:before {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #E30117;
            content: '';
            opacity: 0;
            transition: opacity .15s, transform .15s;
        }

        a:before {
            top: 0;
        }

        a:after {
            bottom: 0;
        }

        a:hover::before {
            top: 0;
            opacity: 1;
            transform: translateY(-10px);
        }

        a:hover::after {
            bottom: 0;
            transform: translateY(10px);
            opacity: 1;
        }
    }

    #toggle {
        display: none;
    }
}

@media screen and (max-width: 980px){
    .site-header {
        display: flex;
        flex-direction: column;

        .site-logo {
            width: 16rem;
        }

        .nav-main {
            display: none;
            margin-top: 1rem;
            width: 100%;
        }

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
        }

        li {
            width: 100%;
        }

        a {
            margin: 0;
            padding: 0.5rem;
            width: 100%;
        }
    }

    #toggle {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        padding: 1rem;
        color: #FFF;
        font-size: 1.5rem;
    }
}