@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

@import "_reset.scss";
@import "_typography.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_gallery.scss";
@import "_menu-page.scss";
@import "_cap-pub.scss";
@import "_reservation.scss";
@import "_news.scss";
@import "_contacts.scss";

.section-title {
    color: #444;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
}

.section-title:after {
    display: block;
    content: '';
    margin: 0 auto;
    width: 5rem;
    padding-top: 0.5rem;
    border-bottom: 2px solid #A0091D;
}

.section-desc {
    font-style: italic;
    opacity: 0.7;
    padding-bottom: 0.5rem;
    text-align: center;
}
