.berlin-image {
    background: url('./images/Berlin.jpg');
    background-size: cover;
    background-position: center;
    padding: 11rem;
}

.cappub-section-title,
.city-name {
    display: inline-block;
    font-size: 1.7rem;
    color: #FFFFFF;
    text-shadow: 2px 2px 11px #0D0000;
    position: relative;
}

.cappub-section-title {
    bottom: 7rem;
    left: 2rem;
}

.city-name {
    right: 4rem;
    bottom: 3rem;
}

.intro-info {
    text-align: center;
    padding: 1rem 0;
    background-color: #f8f7f9;
}

.intro-info article {
    max-width: 60rem;
    margin: 0 auto;
    text-align: left;
}

/*Interior & Exterior sections*/
.intext {
    text-align: center;
    padding: 1rem 0;
    background-color: #f8f8f8;
}

.intext ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 65rem;
    margin: 0 auto;
}

.intext ul li  {
    width: 30%;
    display: flex;
    list-style: none outside;
    height: 100%;
    flex-direction: column;
    padding: 0.2rem;
    margin: 1rem;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
}

.intext ul li:hover {
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.85);
    cursor: pointer;
}

.intext ul li .card-media {
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.intext ul li .card-media:after {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.intext ul li .card-media img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    transform: scale(1);
    transition: 0.4s ease;
}

.intext ul li .card-media img:hover {
    transform: scale(1.05);
}

#interior-section {
    background: #B10200;
    color: #fff;
}

#interior-section h2 {
    color: #fff;
}

#interior-section ul li {
    background: #f8f8f8;
}

#interior-section .section-desc {
    opacity: 1;
}

#interior-section .section-title:after {
    border-bottom: 2px solid #f8f8f8;
}

/*End of Interior & Exterior sections*/

.beer-market-image {
    background: url('./images/beer-market.png');
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 7rem;
    text-align: center;
}

.beer-market-image article {
    display: inline-block;
    padding: 2rem 6.5rem;
    background: #000;
    opacity: 0.65;
}

.beer-market-image article h2 {
    color: gold;
}

.beer-market-image article p {
    margin-bottom: 2rem;
    color: white;
    opacity: 1;
}

.beer-market-image article a {
    background: transparent;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    padding: 0.75rem;
    transform: scale(1);
    transition: 0.2s ease;
    display: inline-block;
}

.beer-market-image article a:hover {
    border: 1px solid gold;
    background-color: black;
    color: gold;
    transform: scale(1.075);
    opacity: 1;
}