.news-image {
    background: url('./../images/news-banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 11rem;
}

.posts-section {
    padding-top: 1rem;
    padding-bottom: 2rem;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.posts {
    background: #fff;
    max-width: 60rem;
    padding: 1rem 3rem 3rem 3rem;
    border-radius: 5px;
}

.post-title {
    font-size: 1.5rem;
    color: #444;
}

.post-date {
    font-style: italic;
}

.posts .post:not(:last-of-type) {
    padding-bottom: 2rem;
    border-bottom: 1px solid lightgray;
}

.post-link {
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.1s ease;
    background: #222;
    color: white;
    border: 1px solid #222;
}

.post-link:hover {
    background: #fff;
    color: #222;
    border: 1px solid #222;
}
